script{
    color:red;
    background-color: darkturquoise;
}
h1{
    color:blue;
    background-color: gold;
}
p{
    color:red;
    background-color: cyan;
}
body{
    background-color: blanchedalmond;
}

